<h1>This is the homepage</h1>

<p>Today it is <strong><%= @time %></strong></p>

<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>


